@using Kendo.Mvc.UI
@model HMS.HealthTrack.Web.Areas.Inventory.Models.StockLocations.StockLocationViewModel

@{
   ViewBag.Title = "Create";
}

<div class="row">
   <div class="col-xs-2 col-md-2 logo-big">
      <img src="~/Content/images/Icons/72x72/Shopping Center.png" class="img-responsive" />
   </div>
   <div class="col-xs-6 col-md-6 col-lg-10 content-title">
      <div class="row">
         <div class="col-sm-12">
            <h2>Create stock location</h2>
         </div>
      </div>
   </div>
</div>

@using (Html.BeginForm())
{
   @Html.AntiForgeryToken()

   <div class="form-horizontal">
      @Html.ValidationSummary(true, "", new {@class = "text-danger"})
      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Name)
         </div>
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Name).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.Address1)
         </div>
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.Address1).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.Address1, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.Address2)
         </div>
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.Address2).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.Address2, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.Suburb)
         </div>
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.Suburb).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.Suburb, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.State)
         </div>
         
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.State).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.State, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.PostCode)
         </div>
         
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.PostCode).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.PostCode, "", new {@class = "text-danger"})
         </div>
      </div>

      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.Address.Country)
         </div>
         <div class="col-sm-3">
            @Html.Kendo().TextBoxFor(model => model.Address.Country).HtmlAttributes(new {@class = "page-input"})
            @Html.ValidationMessageFor(model => model.Address.Country, "", new {@class = "text-danger"})
         </div>
      </div>
      
      <div class="form-group">
         <div class="col-sm-2 control-label text-right">
            @Html.LabelFor(model => model.HealthTrackLocations)
         </div>
         <div class="col-sm-3">
            @(Html.Kendo().MultiSelectFor(model => model.HealthTrackLocations)
                 .DataTextField("Text").DataValueField("Value")
                 .DataSource(ds => ds.Read(read => read.Action("GetAll", "HealthTrackLocation")))
                 .HtmlAttributes(new {@class = "page-input"})
                 )
            @Html.ValidationMessageFor(model => model.HealthTrackLocations, "", new {@class = "text-danger"})
         </div>
      </div>
      
      <div class="form-group" style="padding-top: 1em;">
         <div class="col-sm-12">
            <a class="k-button" href="@Url.Action("Index")">Back to list</a>
            <button type="submit" class="k-button k-primary">Create</button>
         </div>
      </div>
   </div>
}