@model HMS.HealthTrack.Web.Areas.Inventory.Models.HealthTrackProducts.DetailsHealthTrackProductModel
<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Inv_ID)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Inv_ID)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Inv_Description)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Inv_Description)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Description_Additional)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Description_Additional)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Inv_SPC)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Inv_SPC)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Inv_UPN)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Inv_UPN)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Inv_LPC)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Inv_LPC)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.Manufacturer)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.Manufacturer)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.dateCreated)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.dateCreated)
   </div>
</div>

<div class="row">
   <div class="col-sm-4 text-right">
      @Html.LabelFor(model => model.userCreated)
   </div>
   <div class="col-sm-6">
      @Html.DisplayFor(model => model.userCreated)
   </div>
</div>