@using HMS.HealthTrack.Web.Areas.Inventory.Models.Stock
@using Kendo.Mvc.UI
@model DeductStock
@{
   ViewBag.Title = "Deduct stock";
}

<div class="row">
   <div class="col-xs-2 col-md-2 logo-big">
      <img src="~/Content/images/Icons/72x72/Barcode Add.png" class="img-responsive" />
   </div>
   <div class="col-xs-6 col-md-6 col-lg-10 content-title">
      <div class="row">
         <div class="col-sm-12">
            <h2>Deduct stock</h2>
         </div>
      </div>
   </div>
</div>

<div id="alertPlaceholder" style="padding-top: 10px;"></div>

<div class="row">
   @Html.ValidationSummary(true, "", new {@class = "text-danger"})
</div>

<input type="hidden" id="UserPreferredLocation" value="@Html.Encode(@ViewBag.UserPreferredLocation)" />
<div class="row row-wide">
   <div class="col-lg-6">
      <div class="panel panel-default">
         <div class="panel-heading">Product to deduct</div>
         <div class="panel-body" id="productPanel">
            <div class="form-horizontal">
               <div class="form-group">
                  <div class="col-md-3 col-lg-3 control-label">
                     <label for="scanCodeSearch">Scan code</label>
                  </div>
                  <div class="col-md-6 col-lg-6">
                     <span id="scanCodeSearch">
                        @(Html.Kendo().ComboBox().Name("Code")
                             .AutoBind(true)
                             .DataSource(source => source.Read(read => read.Action("GetProductByCode", "Products")).ServerFiltering(true))
                             .DataTextField("Key").DataValueField("Key")
                             .Events(events => events.DataBound("onCodeDataBound").Filtering("onCodeFiltering").Open("onCodeOpen").Select("onCodeSelect"))
                             .Filter("contains")
                             .HtmlAttributes(new { @class = "page-input" })
                             )
                     </span>
                  </div>
                  <div class="col-md-2 col-lg-3">
                     @Html.Kendo().Button().Name("ProductSearch").Content("Adv. Search").Events(e => e.Click("onAdvancedSearch"))
                  </div>
               </div>
               <div id="productInformation" class="hidden">
                  @Html.Hidden("productManageStock")
                  <div class="form-group">
                     <div class="col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                        <hr class="no-margin" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-3 text-right">
                        @Html.Label("Description")
                     </div>
                     <div class="col-sm-7">
                        <span id="productDescription"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-3 text-right">
                        @Html.Label("SPC")
                     </div>
                     <div class="col-sm-7">
                        <span id="productSPC"></span>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-md-3 text-right">
                        @Html.Label("UPN")
                     </div>
                     <div class="col-sm-7">
                        <span id="productUPN"></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-6">
      <div class="panel panel-default">
         <div class="panel-heading">Deduction information</div>
         <div class="panel-body" id="deductionPanel">
            @using (Html.BeginForm("DeductStock", "StockAdjustments", FormMethod.Post))
            {
               @Html.Partial("_DeductItem", new DeductStock {UsedBy = User.Identity.Name, UsedOn = DateTime.Now})
            }
         </div>
      </div>
   </div>
</div>

<div id="locationSelect">
   <div class="windowRow">
      <p>The item being deducted is currently stored at <span id="storedLocation"></span>.</p>
      <p>Please select which location the item is to be deducted at.</p>
      <div>
         <a id="cancelLocationChoice" class="k-button">Cancel</a>
         <a id="useStoredLocation" class="k-button"></a>
         <a id="useNewLocation" class="k-button k-primary"></a>
         <a id="useNewLocation" class="k-button k-primary"></a>
      </div>
   </div>
</div>

<div id="advancedSearchWindow"></div>
<div id="CreateProductWindow"></div>

@section scripts
{
   <script src="~/Areas/Inventory/Scripts/AdvancedSearch.js"></script>
   <script src="~/Areas/Inventory/Scripts/CreateProduct.js"></script>
   <script src="~/Areas/Inventory/Scripts/ScanCodeControl.js"></script>

   <script src="~/Scripts/ConsumeItem.js"></script>
   <script src="~/Scripts/Inventory.js"></script>
   <script src="~/Scripts/kendoGridFilter.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {
         createAdvancedSearchWithGrid();
         createQuickCreateWindow();
         initialiseScanCodeControl();
         $('#locationSelect').hide();

         $('#ProductId').change(function () {
            $('#Code').data('kendoComboBox').select(-1);
            setProductDetails($('#ProductId').val());
            showProductInformation();
         });

         if ($('#ProductId').val() != '' && $('#ProductId').val() > 0) {
            setProductDetails($('#ProductId').val());
            showProductInformation();
         }

         if ('@ViewBag.LocationError' != '') {
            $('#locationSelect').kendoWindow({
               title: 'Choose consumption location',
               scrollable: false,
               visible: false,
               open: function(e) {
                  var window = this;
                  $('#cancelLocationChoice').on('click', function() {
                     window.close();
                  });

                  var useLocation = $('#Location').data('kendoDropDownList');

                  $('#useStoredLocation').text("Deduct from @ViewBag.OriginalLocationName");
                  $('#storedLocation').text('@ViewBag.OriginalLocationName');

                  $('#useStoredLocation').on('click', function() {
                     useLocation.value(@ViewBag.LocationError);
                     $('#OverrideLocation').val('True');
                     $('#saveConsumption').trigger('click');
                     window.close();
                  });


                  $('#useNewLocation').text("Deduct from " + useLocation.text());
                  $('#useNewLocation').on('click', function() {
                     $('#OverrideLocation').val('True');
                     $('#saveConsumption').trigger('click');
                     window.close();
                  });
               }
            });
            $('#locationSelect').data('kendoWindow').center().open();
         }

         $('#closeWindow').click(function() {
            window.location.href = '@Url.Action("Index", "Stock")';
         });

         $('#StockLocationId').data('kendoDropDownList').readonly(false);

         if ('@Model.ProductId' != '') {
            $('#ProductId').val('@Model.ProductId');
         } 
      });

      function onAdvancedSearch(e) {
         e.preventDefault();
         $('#alertPlaceholder').empty();
         openAdvancedSearch();
      }

      function showProductInformation() {
         $('#productInformation').removeClass('hidden');
         $('#StockLocationId').data('kendoDropDownList').focus();
      }

    </script>
}

<style>
   #storedLocation { font-style: italic; }

   .windowRow p {
      padding-top: 5px;
      padding-bottom: 5px;
   }
</style>